@model DriverDetailsViewModel
@{
    ViewData["Title"] = "DriverDetails";
}

<h1>DriverDetails</h1>

@*<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <form method="post">
        <div>
            <label asp-for=""></label>
            <input asp-for="dr" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="d-grid mt-4">
            <button class="btn btn-primary">Register</button>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </form>
</div>*@





<div class="row booking-sec">
    <div class="col-md-4 text-secondary">
        <form asp-action="DriverDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CabName" class="control-label"></label>
                <input asp-for="CabName" class="form-control" />
                <span asp-validation-for="CabName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LicenceNo" class="control-label"></label>
                <input asp-for="LicenceNo" class="form-control" />
                <span asp-validation-for="LicenceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel"></label>
                <select asp-for="CarModel" asp-items="@Html.GetEnumSelectList<CarModels>()" class="form-control">
                    CarModel
                    <option>--- Select a Car Model ---</option>
                </select>
                <span asp-validation-for="CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationNo" class="control-label"></label>
                <input asp-for="RegistrationNo" class="form-control" />
                <span asp-validation-for="RegistrationNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <div asp-validation-summary="All" class="text-danger"></div>

            </div>
        </form>
    </div>
</div>



<div>
    <a class="hovering" style="margin-top:2em;" asp-action="Index">Back to List</a>
</div>